.StatusBoard {
    color: #fff;
    align-items: center;
    background: rgba(113, 111, 111, 0.879);
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    min-height: 5vh;
    text-align: left;
}