h2, p {
    margin: 0;
    padding: 1%
}

.Green {
    color: green;
}

.GoalStatus {
    color:#fff;
    align-items: center;
    background: rgba(113, 111, 111, 0.879);
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    min-height: 5vh;
    text-align: center;
}

.Header {
    display: flex;
    align-items: center;
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    justify-content: space-around;
    margin-bottom: 1em;
    background: rgba(172, 170, 170, 0.879);
    color: #fff;
    min-height: 5vh;
    text-align: center;
}
  
.HeaderTitle {
    flex-grow: 1;
}

.ChevronLeft:before, .ChevronRight:before {
    margin: 20%;
    border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em; 
	cursor: pointer;
}

.ChevronLeft:before {
    flex-grow: 3;  
    left: 0.25em;
    transform: rotate(-135deg);

}
.ChevronRight:before {
    flex-grow: 3;
    left: 0;
	transform: rotate(45deg);
}

 
ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
    margin: 0 auto;
    max-width: 64em;
    padding: 0;
}
  
li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: 0;
    font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
}
  

.Calendar {
    padding: 20%;
    margin: auto;
} 

.Weekdays {
    margin-bottom: 1em;
}

/* ul.weekdays {
    margin-bottom: 1em;
} */
  
.Weekdays li {
    height: 4vw;
}
  

.DayGrid li {
    cursor: pointer;
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    height: 5vw;
    max-height: 125px;
}
  
@media all and (max-width: 800px) {


    ul {
        grid-gap: .25em;
    }

    .Calendar {
        padding: 20%;
        margin: auto;
    } 
    
    .Weekdays li {
        font-size: 0;
    }
    
    .Weekdays > li {
        font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
        text-align: center;
    }
}