.Toolbar  {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fbfbfb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #dedede;
    box-sizing: border-box;
    z-index:90;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

.SubConteiner {
    width:40%;
    display: flex;
    justify-content:space-between;
    
}
