h2, p {
    margin: 0;
    padding: 1%
}

ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
    margin: 0 auto;
    max-width: 64em;
    padding: 0;
    grid-gap: .25em;

}
  
li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: 0;
    font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.Calendar {
    width: 80%;
    margin: auto;
} 

@media (min-width: 1025px) {

	.Calendar {
		width: 80%;
        max-width: 1025px;
        margin: auto;
        margin-top: 10%;
	}
}